/Assignment2/nbproject/private/
/Assignment2/build/
/Assignment2/dist/
/Lab3/build/
/Lab3/dist/
/Lab3/nbproject/private/
/Assignment3/build/
/Assignment3/dist/
/Assignment3/nbproject/private/
/Assignment4/nbproject/private/
/Assignment4/build/
/Assignment4/dist/
/Assignment6/dist/
